form.sender-form {
  width: 100%;
  position: absolute;
  bottom: 10px;
  margin: auto 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

textarea.sender-textarea {
  flex: 1;
  font-size: 16px;
  padding: 10px 50px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  resize: none;
  max-height: 200px;
  overflow: auto;
}

button.sender-submit-button {
  position: absolute;
  right: 20px;
  outline: none;
  border: none;
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: #00b8db;
  border-radius: calc(infinity * 1px);
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}
